@font-face {
  font-family: Pretendard;
  src:
    local('Pretendard Variable'),
    local('Pretendard'),
    url('@/fonts/pretendard/PretendardVariable.woff2')
      format('woff2-variations');
  font-weight: 45 920;
  font-display: swap;
  font-style: normal;
}
